body {
  --main-bg: hsl(0, 0%, 98%);
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
  --main-font-clr: hsl(235, 19%, 35%);
  --secondary-font-clr: hsl(236, 9%, 61%);
  --checked-font-clr: hsl(233, 11%, 80%);
  --border-clr: hsl(233, 11%, 84%);
  --checkbox-border-clr: hsl(236, 33%, 92%);
  --hover-clr: hsl(235, 19%, 35%);
  --checkbox-empty: white;
  --font: 1.125rem;
}
